@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

.my-container {
  width: 100%;
  padding: 100px;
}

.label {
  @apply block text-sm font-medium text-gray-700 mb-1;
}

.input {
  @apply w-full rounded-lg border border-gray-300 px-3 py-2
  focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.error {
  @apply text-sm text-red-500 mt-1;
}
